/* GENERAL RULES -------------------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER RULES -------------------- */
header h1{
    background-color: #02021b;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

/* MAIN RULES -------------------- */
main {
    width: 50%;
    margin: 50px auto;
    display: flex;
}

#carousel {
    width: 80%;
}

.item {
    height: 320px;
    position: relative;
    display: none;
}

.item.active {
    display: block;
}

.item img {
    height: 100%;
}

img {
    width: 100%;
    display: block;
}

.text {
    color: #fff;
    text-align: end;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#thumbs {
    width: 17%;
    display: flex;
    flex-flow: column wrap;
    position: relative;
    height: 320px;
}

.thumb {
    height: calc(100% / 5);
}

.thumb img {
    opacity: .5;
    height: 100%;
}

.thumb.active img {
    opacity: 1;
    border: 2px solid #f3f592;
}

#thumbs .arrow {
    text-align: center;
    font-size: 1rem;
    padding: 5px 10px;
    background-color: #cecece;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px #9c9b9b;
    border: 2px solid transparent;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.arrow.next {
    top: 95%;
}

.arrow.prev {
    bottom: 95%;
}